# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Generated Drift/Riverpod Code Files
*.g.dart

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio & Gradle
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/key.properties
*.keystore
*.jks

# Environment & Secrets
.env
.env.*
!.env.example

# Local SQLite & Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-wal
*.db-shm